@import url('https://fonts.googleapis.com/css?family=Quicksand|Roboto&display=swap:100,300,400,500,700,900|Limelight&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    text-align: justify;
    color: #909488;
    
}
/* Hero Home */
.hero-container {
    height: 90vh;
    background: url('../images/spa-background.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: left;
    justify-content: left;
    bottom: 0;
    position: relative;
}

/* Overlay */
.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

/* Jumbotron */

.jumbotron {
    background-color: transparent;
}

.jumbotron-header {
    margin: 40vh 0 10vh 0;
    margin-bottom: 40px;
    text-align: left;
    font-weight: 600;
    font-family: 'Quicksand', sans-serif;
    color: #a8e619;
}

@media screen and (max-width: 540px){
    .hero-cta {
        margin: 30vh 0 10vh 0;
        text-align: right;
    }
    .jumbotron-header {
        text-align: right;
        margin-top: 20vh;
    }
}


/*Navigation */

.navbar-brand {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.navbar-brand img{
    width: 300px;
    height: 65px;
}

.navbar-nav .nav-item {
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
    font-size: 1.2em;
    letter-spacing: 2px;
    padding-right: 10px;
    padding-left: 10px;
}


.nav-item {
    color: #a8e619;
}

.active a {
    color: #a8e619 !important;
}

.navbar ul li a:hover {
    color: #a8e619 !important;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

/* Buttons */
.btn--book {
    background-color: #6c9708;
    border-color: #a8e619;
    color: #ffffff; 
    text-transform: uppercase;
}

.btn--book:hover {
    background-color: #a8e619;
    border-color: #a8e619;
}


/*treatment in Home section */

.title-description{
    font-size: 18px;
    font-family: 'Roboto', sans-serif;

}
.card-treatment {
    border: none; 
}

.card-img-top:hover {
    opacity: 0.3;
}
.card-text {
    text-align: center;
    font-size: 18px;
    font-family: 'Quicksand', sans-serif;
}

.card-title {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Quicksand', sans-serif;
    color: #a8e619;
}
@media screen and (max-width: 992px) {
    .card-treatment  {
        display: -webkit-box;
        display: -ms-flexbox;
        display: block;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        text-align: center;
        margin: auto;
        width: 100%
        
    }
}

/* About */

.figure {
    margin: 0;
}

.about-img {
    height: 50vh;
    width: 100%;
    background: url("../images/joanna-kosinska-ToV0rS9nTYs-unsplash.jpg") no-repeat center 75%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}

.title-about {
    font-weight: 600;
    font-size: 50px;
    font-family: 'Quicksand', sans-serif;
    color: #a8e619;
}

.about-container-fluid {
   padding: 4rem 1rem 4rem 1rem;
}

.spa-row {
    padding: 15px;
}

.spa-tips {
    text-align: justify;
}

.sub-title {
    font-family: 'Quicksand', sans-serif;
    color: #a8e619;
}

@media screen and (max-width: 540px){
    .about-text {
        text-align: justify;
        margin-left: 15px;
        margin-right: 15px;
        padding: 0;
    }
}

/* Treatment */
.treatment-image {
    height: 50vh;
    width: 100%;
    background: url("../images/joanna-kosinska-ToV0rS9nTYs-unsplash.jpg") no-repeat center 75%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}

.card-spa {
    width: 50%;
}

@media screen and (max-width: 992px) {
    .card-spa  {
        display: -webkit-box;
        display: -ms-flexbox;
        display: block;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        width: 100%;
    }
}

.title-services {
    font-weight: 600;
    font-size: 50px;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    color: #a8e619;
}


/*Gallery*/

.gallery-image {
    height: 50vh;
    width: 100%;
    background: url("../images/joanna-kosinska-ToV0rS9nTYs-unsplash.jpg") no-repeat center 75%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}


.title-gallery {
    font-weight: 600;
    font-size: 50px;
    font-family: 'Quicksand', sans-serif;
    color: #a8e619;
}


/* Block dividers */

.block-divider {
    width: 75px;
    height: 5px;
    border: 0;
    background-color: #444;
}

.block-divider--green-yellow {
    background-color: #a8e619;
}

.block-divider--short {
    width: 35px;
}


.spa-gallery img {
    width: 100%;
    margin-top:20px; 
    margin-bottom:20px;
}

.spa-gallery figure img {
	opacity: 1;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.spa-gallery figure:hover img {
	opacity: .5;
}

@media screen and (max-width: 992px) {
    .gallery-img {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        max-width: 50%;
        padding: 10px;
    }
}

/*Contact */

.contact-image {
    height: 50vh;
    width: 100%;
    background: url("../images/joanna-kosinska-ToV0rS9nTYs-unsplash.jpg") no-repeat center 75%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}

.title-contact {
    font-weight: 600;
    font-size: 50px;
    font-family: 'Quicksand', sans-serif;
    color: #a8e619;
}

.required-input {
    color: rgba(211, 6, 6, 0.815);
}

.form-control {
    font-size: 12px;
}

/* Contact Buttons */
.btn--submit {
    background-color: #6c9708;
    border-color: #a8e619;
    color: #ffffff; 
    text-transform: uppercase;
}

.btn--submit:hover {
    background-color: #a8e619;
    border-color: #a8e619;
}



/* footer */
.footer-container {
    padding: 10px 10px 10px 10px;
    color: #909488;;
}

.footer-bg-color {
    background: #466106;
}

.footer-heading {
    margin-top: 8px;
    margin-bottom: 8px;
    font-size: 30px;
    font-weight: 500;
    text-transform: uppercase;
}

.footer-section-margin {
    margin-bottom: 10px;
}

.social-links-item:hover {
    color: #a8e619;
}

.footer-heading-social {
    text-align: center;
}

.social-links-item {
    padding: 0 10px;
    font-size: 35px;
    text-align: center;
    color: #909488;
}
/* End Footer */